@layer base {
  :root {
    --color-accent-base: 120 100% 50%;
    --color-accent-hover: 60 100% 50%;
    --color-accent-muted: 270 100% 28.2%;
    --color-accent-contrast: 120 100% 50%;
    --color-heading-foreground: 120 100% 50%;
    --color-heading-background: 0 0% 0%;
    --color-background-elevated: 0 0% 0%;
    --color-background-base: 0 0% 0%;
    --color-background-navigation: 0 0% 0%;
    --color-background-navigation-active: 0 0% 0%;
    --color-background-header: 0 0% 0%;
    --color-background-highlight: 0 0% 0%;
    --color-background-backdrop: 120 100% 50%;
    --color-border-subtle: 120 100% 50%;
    --color-border-contrast: 120 100% 50%;
    --color-border-navigation: 120 100% 50%;
    --color-text-base: 120 100% 50%;
    --color-text-muted: 270 100% 28.2%;  }

  body {
    color: hsl(var(--color-text-base));
  }
}
